
.invoice_info {
    width: 66%;
    text-align: right;
}

.logo-img {
    width: 400px;
}

.invoice_info > .title {
    color: #0087C3;
    background-color: red;
}

.invoice_info > .electronic_invoice {
    font-weight: bold;
}

.invoice_info > .extra_info > h3 {
    font-size: medium;
}

.companies_info {
    background-color: blue;
}

.contact_header {
    width: 100%;
}

.contact_info {
    float: left;
    width: 45%;
    border-left: thick solid #0087C3;
}

.qr {
    float: left;
    width: 10%;
    background-color: black;
}

.details {
    text-align: center;
    width: 100%;
}

.details > h3 {
    font-weight: bold;
    color: #555555;
}

.details > table {
    width: 100%;
    border: none;
}

.invoice_lines {
    text-align: center;
    background-color: #EEEEEE;
}

tr {
    border-bottom: thick solid white;
}


td {
    vertical-align: middle;
    border: none !important;
}
